<div class="page-info__menu">
    <nav class="page-account__menu">
        <ul id="menu-information" class="page-info__menu">
            {% if request.path == '/users/profile/' %}
                <li class="current_page_item page-info__menu-item">
                    <a href="{% url "users:profile" %}">Мой профиль</a>
                </li>
            {% else %}
                <li class="page-info__menu-item">
                    <a href="{% url "users:profile" %}">Мой профиль</a>
                </li>
            {% endif %}
            {% if request.path == '/users/my_orders/' %}
                <li class="current_page_item page-info__menu-item">
                    <a href="{% url "users:my_orders" %}">Мои заказы</a>
                </li>
            {% else %}
                <li class="page-info__menu-item">
                    <a href="{% url "users:my_orders" %}">Мои заказы</a>
                </li>
            {% endif %}
            {% if request.path == '/users/logout/' %}
                <li class="current_page_item page-info__menu-item">
                    <a href="{% url "users:logout" %}">Выйти</a>
                </li>
            {% else %}
                <li class="page-info__menu-item">
                    <a href="{% url "users:logout" %}">Выйти</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>