<footer>
    <div class="footer-content">
        <div class="footer-container">
            <div class="col contact">
                <p>
                    <a href="{% url "index" %}" class="logo">Impulse</a>
                </p>
                <p>
                    <i class="fa-solid fa-location-dot"></i> 125 Lenina Street, Krasnodar
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i><a href="mailto:example@google.com">example@google.com</a>
                </p>
                <p>
                    <i class="fa-solid fa-phone-volume"></i> 240-799-9093
                </p>
                <div class="social_media_links">
                    <a href="http://vk.com" target="_blank">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                    <a href="http://github.com" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="http://t.me" target="_blank">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </div>
            </div>
            <div class="col info">
                <h2>Информация</h2>
                <p>
                    <a href="{% url "about" %}">О нас</a>
                </p>
                <p>
                    <a href="/">Контакты</a>
                </p>
                <p>
                    <a href="/">Вопросы</a>
                </p>
                <p>
                    <a href="/">Политика конфиденциальности</a>
                </p>
            </div>
            <div class="col newsletter">
                <h2>Подпишись на последние новости</h2>
                <form action="" class="newsletter-form">
                    <input type="text" placeholder="Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-copyright">Copyright&copy;2024 Impulse</div>
</footer>