{% load goods_tags %}

<header>
    <div class="navbar">
        <div class="logo"><a href="{% url "main:index" %}">Impulse</a></div>
        <ul class="links">
            {% if is_about_page or is_info_page or is_contact_page or is_questions_page or is_privacy_page %}
                <li class="information-link"><a href="{% url "main:info" %}">Информация</a></li>
            {% else %}
                <li><a href="{% url "main:info" %}">Информация</a></li>
            {% endif %}
            {% if is_new_items_page %}
                <li class="new-items-link"><a href="{% url "catalog:new_items" %}">Новинки</a></li>
            {% else %}
                <li><a href="{% url "catalog:new_items" %}">Новинки</a></li>
            {% endif %}
            {% if is_catalog_page or is_product_page %}
                <li class="catalog-link"><a href="{% url "catalog:index" %}">Каталог</a>
            {% else %}
                <li><a href="{% url "catalog:index"%}">Каталог</a>
            {% endif %}
                <div class="mega-menu">
                    <div class="mega-menu-content">
                        <ul class="menu-list">
                            {% tag_categories as categories %}
                            {% for category in categories %}
                            <li class="menu-item">
                                <a href="{% url 'catalog:catalog_by_category' category_slug=category.slug %}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            {% if is_sale_items_page %}
                <li><a href="{% url "catalog:sale" %}" class="links-sale links-sale--active">Распродажа</a></li>
            {% else %}
                <li><a href="{% url "catalog:sale" %}" class="links-sale">Распродажа</a></li>
            {% endif %}
        </ul>
        <form class="search-form">
            <input type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </form>
        <div class="cart-icon">
            <a href="cart"><i class="fa-solid fa-shopping-cart"></i></a>
        </div>
        <div class="favorite-icon">
            <a href="favorite"><i class="fa-solid fa-heart"></i></a>
        </div>
        <div class="profile-icon">
            <a href="login"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="toggle_button">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown_menu">
        <li><a href="{% url "main:info" %}">Информация</a></li>
        <li><a href="{% url "catalog:new_items" %}">Новинки</a></li>
        <li><a href="{% url "catalog:index" %}">Каталог</a></li>
        <li><a href="{% url "catalog:sale" %}">Распродажа</a></li>
        <li>
            <form class="search-form">
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
        </li>
    </div>
</header>

<script>
    const toggleButton = document.querySelector('.toggle_button')
    const toggleButtonIcon = document.querySelector('.toggle_button i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleButton.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')
        toggleButtonIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
    }
</script>