<div class="container category-page">
    <ol class="breadcrumbs" itemscope="">
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="">
            <a class="breadcrumbs__link" itemprop="item" href="{% url "main:index" %}">
                <span itemprop="name">
                    Главная
                </span>
            </a>
            <meta itemprop="position" content="1">
        </li>
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="">
            <span itemprop="item" content="isnew">
                <span itemprop="name">
                    Информация
                </span>
            </span>
            <meta itemprop="position" content="2">
        </li>
    </ol>