{% extends "auth_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_login_version_two.css" %}">
    <link rel="stylesheet" href="{% static "css/style_change_password.css" %}">
{% endblock %}

{% block content %}
<body>
    <div class="form_container">
        <div class="left">
            <div class="login-container">
                <h2>Смена пароля</h2>
                <span class="subtitle">
                    Пожалуйста, заполните следующие поля для смены пароля
                </span>

                <form class="login-form" method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                        <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <button type="submit" class="login_btn">
                        Сменить пароль
                    </button>
                </form>
            </div>
        </div>
        <div class="right_change" style="background-image: url('{% static "image/freepik-export-20240430084439Ytfh.jpeg" %}')">
            <div class="info-login">
                <h2>Impulse</h2>
            </div>
        </div>
    </div>
</body>
{% endblock %}