{% extends "auth_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_login_version_two.css" %}">
    <link rel="stylesheet" href="{% static "css/style_change_password.css" %}">
{% endblock %}

{% block content %}
<body>
    <div class="form_container">
        <div class="left">
            <div class="login-container">
                <h2>Сброс пароля</h2>
                <span class="subtitle">
                    Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
                </span>

                <form class="login-form" action="{% url "users:password_reset" %}" method="post">
                    {% csrf_token %}
                    {% for f in form %}
                    <p>
                        <label for="{{ f.id_for_label }}" style="display: none;">{{ f.label }}</label>

                        <input type="email" name="{{ f.name }}" id="{{ f.id_for_label }}" placeholder="Email" class="form-input" required>
                        
                        <div class="form-error">{{ f.errors }}</div>
                    </p>
                    {% endfor %}

                    <button type="submit" class="login_btn">
                        Сбросить пароль
                    </button>
                </form>
            </div>
        </div>
        <div class="right_reset" style="background-image: url('{% static "image/freepik-export-202404300746116LcI.jpeg" %}')">
            <div class="info-login">
                <h2>Impulse</h2>
            </div>
        </div>
    </div>
</body>
{% endblock %}
