{% extends "auth_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_login_version_two.css" %}">
    <link rel="stylesheet" href="{% static "css/style_change_password.css" %}">
{% endblock %}

{% block content %}
<body>
    <div class="form_container">
        <div class="left">
            <div class="login-container">
                <h2>Восстановление пароля завершено</h2>

                <p class="signup_info">
                    Ваш пароль сохранен. Используйте его для входа <a href="{% url "users:login" %}">Войти</a>
                </p>
            </div>
        </div>
        <div class="right_complete" style="background-image: url('{% static "image/freepik-export-20240430074026WVj0.jpeg" %}')">
            <div class="info-login">
                <h2>Impulse</h2>
            </div>
        </div>
    </div>
</body>
{% endblock %}