{% extends "auth_base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_login_version_two.css" %}">
    <link rel="stylesheet" href="{% static "css/style_change_password.css" %}">
{% endblock %}

{% block content %}
<body>
    <div class="form_container">
        <div class="left">
            <div class="login-container">
                <h2>Сброс пароля прошёл успешно</h2>
                <span class="subtitle">
                    Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля
                </span>
            </div>
        </div>
        <div class="right_reset" style="background-image: url('{% static "image/freepik-export-202404300746116LcI.jpeg" %}')">
            <div class="info-login">
                <h2>Impulse</h2>
            </div>
        </div>
    </div>
</body>
{% endblock %}
