{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_new.css" %}">
    <link rel="stylesheet" href="{% static "css/style_new_catalog.css" %}">
    <link rel="stylesheet" href="{% static "css/style_information.css" %}">
    <link rel="stylesheet" href="{% static "css/style_contacts.css" %}">
    <link rel="stylesheet" href="{% static "css/style_catalog.css" %}">
    <link rel="stylesheet" href="{% static "css/style_sale.css" %}">
    <link rel="stylesheet" href="{% static "css/style_profile.css" %}">
{% endblock %}

{% block content %}
<div class="container category-page">
    {% include "goods/includes/goods_breadcrumbs.html" with breadcrumb_name="Мой профиль" %}
    <div class="category-page-header">
        <div class="page-header-left">
            <h2 class="page-header-title">{{ profile_header }}</h2>
        </div>
    </div>
    <div class="profile">
        <div class="profile-content">
            {% include "users/includes/profile_menu.html" %}
            <div class="my_account_content">
                <form class="billing_info_content" action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="avatar">
                    {% else %}
                        <img src="{% static "image/profile.jpg" %}" alt="avatar">
                    {% endif %}
                    <input type="file" id="id_image" name="image" accept="image/*">
                    {% if form.image.errors %}
                        <div class="error_container">{{form.image.errors}}</div>
                    {% endif %}
                    <h3 class="billing_info_title">Личные данные</h3>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_first_name">Имя</label>
                        <input type="text" class="input-text" name="first_name" id="id_first_name"
                            value="{{ form.first_name.value }}"
                            >
                            {% if form.first_name.errors %}
                                <div class="error_container">{{form.first_name.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_last_name">Фамилия</label>
                        <input type="text" class="input-text" name="last_name" id="id_last_name"
                            value="{{ form.last_name.value }}"
                            >
                            {% if form.last_name.errors %}
                                <div class="error_container">{{form.last_name.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_phone_number">Номер телефона</label>
                        <input type="text" class="input-text" name="phone_number" id="id_phone_number"
                            value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                            >
                            {% if form.phone_number.errors %}
                                <div class="error_container">{{form.phone_number.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_username">Email</label>
                        <input type="text" class="input-text" name="username" id="id_username"
                            value="{{ form.username.value }}"
                            >
                            {% if form.username.errors %}
                                <div class="error_container">{{form.username.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-additional_box">
                        <div class="billing_info-input_box billing_info-additional_field">
                            <label class="billing_info_label" for="id_gender">Пол</label>
                            <div class="custom-select">
                                <select name="gender" id="id_gender"
                                    value="{% if form.gender.value %}{{ form.gender.value }}{% endif %}"
                                    class="user_gender select2-hidden-accessible" aria-hidden="true"
                                    >
                                    {% if form.gender.errors %}
                                        <div class="error_container">{{form.gender.errors}}</div>
                                    {% endif %}
                                    <option value="мужской" selected>Мужской</option>
                                    <option value="женский">Женский</option>
                                </select>
                            </div>
                        </div>
                        <div class="billing_info-input_box billing_info-additional_field">
                            <label class="billing_info_label" for="id_date_of_birth">Дата рождения</label>
                            <input type="date" class="input-text" name="date_of_birth" id="id_date_of_birth"
                                value="{% if form.date_of_birth.value %}{{ form.date_of_birth.value }}{% endif %}"
                                >
                                {% if form.date_of_birth.errors %}
                                    <div class="error_container">{{form.date_of_birth.errors}}</div>
                                {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="billing_info_save" name="save_billing_info"
                        value="save">Сохранить</button>
                </form>
                <form class="delievery_info_content" action="{% url "users:profile" %}" method="post">
                    {% csrf_token %}
                    <h3 class="billing_info_title">Адрес доставки</h3>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_city">Город</label>
                        <input type="text" class="input-text" name="city" id="id_city"
                            value="{% if form.city.value %}{{ form.city.value }}{% endif %}"
                            >
                            {% if form.city.errors %}
                                <div class="error_container">{{form.city.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_address">Адрес</label>
                        <input type="text" class="input-text" name="address"
                            id="id_address" value="{% if form.address.value %}{{ form.address.value }}{% endif %}"
                            >
                            {% if form.address.errors %}
                                <div class="error_container">{{form.address.errors}}</div>
                            {% endif %}
                    </div>
                    <div class="billing_info-input_box">
                        <label class="billing_info_label" for="id_postal_code">Индекс</label>
                        <input type="text" class="input-text" name="postal_code" id="id_postal_code"
                            value="{% if form.postal_code.value %}{{ form.postal_code.value }}{% endif %}"
                            >
                            {% if form.postal_code.errors %}
                                <div class="error_container">{{form.postal_code.errors}}</div>
                            {% endif %}
                    </div>
                    <button type="submit" class="billing_info_save" name="save_billing_info"
                        value="save">Сохранить</button>
                </form>
            </div>
            <button onclick="scrollToTop()" id="scrollToTopButton">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</div>

<script>
    function scrollToTop() {
        const c = document.documentElement.scrollTop || document.body.scrollTop;
        if (c > 0) {
            window.requestAnimationFrame(scrollToTop);
            window.scrollTo(0, c - c / 8);
        }
    }

    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("scrollToTopButton").style.display = "block";
        } else {
            document.getElementById("scrollToTopButton").style.display = "none";
        }
    }
</script>
{% endblock %}