{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/style_new.css" %}">
    <link rel="stylesheet" href="{% static "css/style_new_catalog.css" %}">
    <link rel="stylesheet" href="{% static "css/style_information.css" %}">
    <link rel="stylesheet" href="{% static "css/style_contacts.css" %}">
{% endblock %}

{% block content %}
    <div class="container category-page">
        <ol class="breadcrumbs" itemscope="">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="">
                <a class="breadcrumbs__link" itemprop="item" href="{% url "main:index" %}">
                    <span itemprop="name">
                        Главная
                    </span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="">
                <span itemprop="item" content="isnew">
                    <span itemprop="name">
                        Информация
                    </span>
                </span>
                <meta itemprop="position" content="2">
            </li>
        </ol>
        <div class="category-page-header">
            <div class="page-header-left">
                <h2 class="page-header-title">Информация</h2>
            </div>
        </div>
        <div class="page-info__box">
            <div class="page-info__menu">
                <nav class="desktop-menu">
                    <ul id="menu-information" class="page-info__menu">
                        <li class="page-info__menu-item">
                            <a href="information.html">Доставка и оплата</a>
                        </li>
                        <li class="page-info__menu-item">
                            <a href="contacts.html">Контакты</a>
                        </li>
                        <li class="page-info__menu-item">
                            <a href="questions.html">Вопросы</a>
                        </li>
                        <li class="page-info__menu-item">
                            <a href="privacy_policy.html">Политика конфиденциальности</a>
                        </li>
                        <li class="current_page_item page-info__menu-item">
                            <a href="{% url "main:about" %}">О нас</a>
                        </li>
                    </ul>
                </nav>
                <nav class="mobile-menu">
                    <select onchange="location = this.value;">
                        <option value selected>О нас</option>
                        <option value="information.html">Доставка и оплата</option>
                        <option value="contacts.html">Контакты</option>
                        <option value="questions.html">Вопросы</option>
                        <option value="privacy_policy.html">Политика конфиденциальности</option>
                        <option value="{% url "main:about" %}" selected>О нас</option>
                    </select>
                </nav>
            </div>
            <div class="page-info__content">
                <h3 class="info__content-title"> О нас </h3>
                <div class="info__content-text">
                    <h4 class="info__content-text__serios">Impulse: Одежда, которая вдохновляет</h4>
                    <p>Impulse - это интернет-магазин одежды, который предлагает широкий ассортимент стильной и
                        качественной одежды для мужчин и женщин. Мы верим, что одежда - это не просто способ прикрыть
                        тело, а способ выразить себя и свой индивидуальный стиль. Мы стремимся предоставить нашим
                        клиентам одежду, которая не только будет хорошо выглядеть, но и будет удобной и практичной.
                    </p>
                    <p>
                        В нашем магазине вы найдете одежду для любого случая: от повседневных нарядов до вечерних
                        платьев. Мы предлагаем одежду различных стилей, от классического до современного, чтобы каждый
                        мог найти что-то для себя. Мы также следим за последними тенденциями моды, чтобы наши клиенты
                        всегда были в курсе самых актуальных новинок.
                    </p>
                    <p>
                        Мы сотрудничаем только с надежными поставщиками, которые гарантируют высокое качество своей
                        продукции. Вся одежда в нашем магазине изготовлена из качественных материалов и пошита с
                        использованием современных технологий. Мы тщательно проверяем каждый товар перед отправкой,
                        чтобы убедиться, что он соответствует нашим высоким стандартам качества.
                    </p>
                    <p>
                        Мы предлагаем нашим клиентам удобные способы оплаты и быструю доставку. Вы можете оплатить свой
                        заказ банковской картой, электронным кошельком или наличными при получении. Мы доставляем заказы
                        по всей России, а также в страны СНГ.
                    </p>
                    <p>
                        Мы всегда рады помочь нашим клиентам с выбором одежды. Если у вас есть какие-либо вопросы, вы
                        можете связаться с нами по телефону, электронной почте или через форму обратной связи на нашем
                        сайте. Мы с удовольствием ответим на все ваши вопросы и поможем вам подобрать одежду, которая
                        идеально подойдет вам по стилю и размеру.
                    </p>
                    <h4 class="info__content-text__serios">
                        Impulse - это не просто интернет-магазин одежды, это место, где вы можете найти свой уникальный стиль и выразить свою индивидуальность.
                    </h4>
                    <p>
                        P.S. Проект разработан командой из 1-ого человека <a href="https://github.com/Ilya-Reznikov60">(Мой Github)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}